<div class ="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Home Page</div>
    </div>
    <div class="panel-body">
            <h3><a href="#/players">Football Players</a></h3>
            <p>A football player, footballer, or soccer player is a sportsperson who plays one of the different types of football. The main types of football are association football, American football, Canadian football, Australian rules football, Gaelic football, rugby league, and rugby union.

                It has been estimated that there are 250 million association football players in the world,[1] and many play the other forms of football.</p>

            <h3><a href="#/teams">Football Teams</a></h3>
            <p>A football team is the collective name given to a group of players selected together in the various team sports known as football.

                Such teams could be selected to play in a match against an opposing team, to represent a football club, group, state or nation, an All-star team or even selected as a hypothetical team (such as a Dream Team or Team of the Century) and never play an actual match.

                There are several varieties of football, notably Association football, Gridiron football, Australian rules football, Gaelic football, rugby league, and rugby union. The number of players selected for each team within these varieties and their associated codes can vary substantially. Sometimes, the word "team" is limited to those who play on the field in a match and does not always include other players who may take part as replacements or emergency players. "Football squad" may be used to be inclusive of these support and reserve players.

                The term football club is the most commonly used for a sports club which is an organised or incorporated body with a president, committee and a set of rules responsible for ensuring the continued playing existence of one or more teams which are selected for regular competition play (and which may participate in several different divisions or leagues). The oldest football clubs date back to the early 19th century. The words team and club are sometimes used interchangeably by supporters, although they typically refer to the team within the club playing in the highest division or competition.

                Contents  [hide]
                1	Variation of player numbers among football codes
                2	Lists of association football teams
                3	Lists of Australian rules football teams
                4	References
            </p>
        <h3><a href="#/coaches">Football Coaches</a></h3>
        <p>The original sense of the word "coach" is that of a horse-drawn carriage, deriving ultimately from the Hungarian city of Kocs where such vehicles were first made. Students at the University of Oxford in the early nineteenth-century used the slang word to refer to a private tutor who would drive a less able student through his examinations just like horse driving.

            Britain took the lead in upgrading the status of sports in the 19th century. For sports to become professionalized, "coacher" had to become established. It gradually professionalized in the Victorian era and the role was well established by 1914. In the First World War, military units sought out the coaches to supervise physical conditioning and develop morale-building teams.[1]</p>
    </div>
</div>