<div class="panel panel-default" ng-init="getPlayers()">
    <div class="panel-heading">
        <h3 class="panel-title"><a class="glyphicon glyphicon-arrow-left" href="#/home"></a> Football Players</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div ng-repeat="player in players |filter : search | startFrom:(currentPage - 1)*pageSize | limitTo:pageSize ">
                <div class="col-md-6">
                    <div class="col-md-6">
                            <h3>{{player.name}}</h3>
                        <h6>Age : {{player.age}}</h6>
                        <h6>Team :<a href="#/teams/details/{{player.team_id}}"> {{player.team}}</a></h6>
                        <h6>Nationality : {{player.nationality}}</h6>
                        <a class="btn btn-primary" href="#/players/details/{{player._id}}">Player Details</a>

                    </div>
                    <div class="col-md-6">
                        <img class="img-circle" src="{{player.photo}}">
                    </div>
                </div>
            </div>
        </div>
        <uib-pagination total-items="players.length" ng-model="currentPage" items-per-page="pageSize"
                        ng-change="pageChanged()"></uib-pagination>
    </div>
</div>
<div ui-view></div>